name: Build Project Stoke (fogos)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout build repo
      uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y bc bison build-essential curl flex g++-multilib gcc-multilib git git-lfs \
         gnupg gperf imagemagick lib32ncurses6 lib32readline8 lib32z1 \
         libncurses5-dev libsdl1.2-dev libxml2 libxml2-utils lzop pngcrush rsync \
         schedtool squashfs-tools xsltproc zip zlib1g-dev openjdk-17-jdk ccache

    - name: Init LineageOS 23.0 (Android 16)
      run: |
        sudo curl https://storage.googleapis.com/git-repo-downloads/repo -o /usr/bin/repo
        sudo chmod a+x /usr/bin/repo

        mkdir rom
        cd rom

        repo init -u https://github.com/LineageOS/android.git -b lineage-23.0 --git-lfs
        mkdir -p .repo/local_manifests
        cp $GITHUB_WORKSPACE/roomservice.xml .repo/local_manifests/

        repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune -j4

    - name: Build Project Stoke for fogos
      run: |
        cd rom
        source build/envsetup.sh
        lunch lineage_fogos-userdebug
        mka bacon -j4

    - name: Upload ROM Output
      uses: actions/upload-artifact@v4
      with:
        name: Project-Stoke-fogos
        path: rom/out/target/product/fogos/*.zip
