name: Build Project Stoke (fogos)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout build repo
      uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y bc bison build-essential curl flex g++-multilib gcc-multilib git \
         gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev \
         libncurses5-dev libsdl1.2-dev libxml2 libxml2-utils lzop pngcrush rsync \
         schedtool squashfs-tools xsltproc zip zlib1g-dev openjdk-17-jdk ccache

    - name: Init LineageOS 23.0 (Android 16)
      run: |
        mkdir rom
        cd rom
        repo init -u https://github.com/LineageOS/android.git -b lineage-23.0 --git-lfs
        mkdir -p .repo/local_manifests
        cp $GITHUB_WORKSPACE/roomservice.xml .repo/local_manifests/
        repo sync -j4 --force-sync --no-tags --no-clone-bundle

    - name: Build Project Stoke for fogos
      run: |
        cd rom
        source build/envsetup.sh
        lunch lineage_fogos-userdebug
        mka bacon -j4

    - name: Upload ROM Output
      uses: actions/upload-artifact@v4
      with:
        name: Project-Stoke-fogos
        path: rom/out/target/product/fogos/*.zip
